

.create-form {
  height: 100%;
  /* width: 25%;  */
  border: black solid 1px;
}

.create-form>h2 {
  font-size: 4vmin;

}

.entry-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  border-radius: 10px;
}

.entry-edit-btn {
  border: 1px solid #040404;
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  transition: transform .5s ease-in-out;
  margin: 0 10px;
}

.entry-edit-btn:hover {
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  transform: scale(1.1, 1.1);
}

.new-entry-btn {
  border: 1px solid #040404;
  background-color: transparent;
  padding: 8px 24px;
  border-radius: 4px;
  transition: transform .5s ease-in-out;
  margin: 0 10px;
}

.new-entry-btn:hover {
  border: 1px solid #ddd;
  background-color: black;
  color: white;
  transform: scale(1.1, 1.1);
}

.journal-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
}

.journal-list a{
    text-decoration: none;
    color: black;
  }

  

.spinner {
  width: 24px;
  animation: loading infinite 3s linear;
}

/* .profile-image{
	width: 100%;
} */

@keyframes loading{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
