.header {
    border: solid black 2px;
    display: block;
    height: 10em;
    
}
.header>h1 {
  font-family: 'Orbitron', sans-serif;
}

/* .profile-pic{
  height: 1vmin;
  width: 1vmin;
} */


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
}

.nav div {
  margin-left: 20px;
}

